{
  "projectId": null,
  "registryAddress": "0xb9a29d0Cfb402d91c6f70eF117758C118f00F5B2",
  "rpcUrl": "https://ethereum-sepolia-rpc.publicnode.com",
  "chainId": 11155111,
  "pinataJwt": "FILL_IN_YOUR_PINATA_JWT"
}
