{
  "version": 2,
  "projectId": 0,
  "registryAddress": "0xb9a29d0Cfb402d91c6f70eF117758C118f00F5B2",
  "chainId": 11155111,
  "rpc": {
    "url": "https://ethereum-sepolia-rpc.publicnode.com"
  },
  "deployedAtBlock": 0,
  "securityMode": "production",
  "signer": {
    "type": "walletconnect",
    "credentialRef": "keyring://walletconnect/project-id",
    "expectedAddress": "0x0000000000000000000000000000000000000001"
  },
  "storage": {
    "provider": "pinata",
    "credentialRef": "keyring://storage/pinata/default"
  }
}
